* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.bodytag {
    width: 100%;
    height: 600px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    border: 1px solid black;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 20px;
    background-color: blueviolet;

}

input {
    height: 40px;
    border-radius: 20px;
    font-size: 30px;
}

button{
        border-radius: 20px;
        width: 100px;
        height: 30px;

}

.data {
    /* border: 1px solid red; */
    width: 80%;
    display: flex;
    justify-content: space-between;
}