   body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin-top: 50px;
    }

    input {
      padding: 8px;
      font-size: 16px;
    }

    button {
      padding: 8px 12px;
      margin: 5px;
      font-size: 16px;
      cursor: pointer;
    }

    ul {
      list-style: none;
      padding: 0;
      margin-top: 20px;
    }

    li {
      background-color: lightyellow;
      margin: 5px auto;
      padding: 8px;
      width: 200px;
      border: 1px solid #ccc;
    }
