h1 {
    background-color: aqua;
    font-size: 20px;
}


.container{
    height: 300px;
    width: 470px;
    background-image: url("https://tse1.mm.bing.net/th/id/OIP.JvsZrX3Nnkj_Vj8T4iT7MQHaE8?pid=Api");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top;
    overflow: scroll;
    background-size: 500px;
    border-style: solid;
    border-width: 20px;
    border-color: black;
    padding: 10px;
}
.opop {
    background-image: url("https://tse3.mm.bing.net/th/id/OIP.OF56Jnh46fiSkom2kYIrnQHaEK?pid=Api&P=0&h=180");
    height: 300px;
    width: 470px;
    background-size: 700px;
    background-repeat: no-repeat;
}