h1 {
    background-color: aqua;
    font-size: 20px;
}


.container{
    height: 300px;
    width: 470px;
    background-image: url("https://tse1.mm.bing.net/th/id/OIP.JvsZrX3Nnkj_Vj8T4iT7MQHaE8?pid=Api");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top;
    overflow: scroll;
    background-size: 500px;
}
