.container {
    display: flex;
    flex-wrap: wrap;
    gap: 6vw;
}
.btn{
    border: 2px solid black;
    background-color: rgb(245, 253, 24);
    height: 45px;
    width: 85px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 2%;
}
.score{
    border: 2px solid black;
    background-color: rgb(115, 87, 236);
    height: 45px;
    width: 85px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 9%;    
    margin-left: -20%;
}