* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    /* border: 2px solid red; */
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    background-color: blueviolet;
}

.link {
    display: flex;
    justify-content: space-around;
    /* border: 2px solid black; */
    width: 40%;
}

.menubar {
    display: none;
}

.menubar .bar {
    width: 40px;
    height: 8px;
    border-radius: 20px;
    margin-bottom: 2px;
    background-color: black;
    display: block;
}

.section1 {
    border: 2px solid red;
    width: 100%;
    min-height: 200px;
    display: flex;
    gap: 5px;
}

.box1 {
    width: 50%;
    height: 200px;
    border: 2px solid green;
}

.box2 {
    width: 50%;
    height: 200px;
    border: 2px solid black;
}

.section2 {
    border: 2px solid red;
    width: 100%;
    min-height: 200px;
    display: flex;
    gap: 5px;
}

.cont1 {
    width: 50%;
    height: 200px;
    border: 2px solid green;
}

.cont2 {
    width: 50%;
    height: 200px;
    border: 2px solid blue;
}

.cont3 {
    width: 50%;
    height: 200px;
    border: 2px solid black;
}

.footer {
    border: 2px solid black;
    width: 100%;
    min-height: 150px;
    display: flex;
    gap: 5px;
}

.foot1 {
    width: 25%;
    height: 150px;
    border: 2px solid green;
}

.foot2 {
    width: 60%;
    height: 150px;
    border: 2px solid blue;
}

.foot3 {
    width: 15%;
    height: 150px;
    border: 2px solid red;
}


@media screen and (max-width:768px) {

    .link {
        display: none;
    }

    .navbar:has(.menubar:hover) .link {
        position: absolute;
        right: 25px;
        top: 80px;
        width: 70px;
        flex-direction: column;
        justify-content: center;
        display: flex;
    }

    .menubar {
        display: block;
    }

    .section1 {
        flex-direction: column;
    }

    .box1 {
        width: 100%;
        height: 200px;
    }

    .box2 {
        width: 100%;
        height: 200px;
    }

    .section2 {
        flex-direction: column;
    }

    .cont1 {
        width: 100%;
        height: 200px;
    }

    .cont2 {
        width: 100%;
        height: 200px;
    }

    .cont3 {
        width: 100%;
        height: 200px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .foot1 {
        height: 150px;
    }

    .foot2 {
        height: 150px;
    }

    .foot3 {
        height: 150px;
    }

}