.container {
    width: 100%;
    height: 149%;
    border: 1px solid;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 35px;
    padding-left: 70px;
    padding-right: 70px;
}

.cort {
    display: flex;
    align-items: center;
}

.poster {
    display: flex;
    background-image: url('https://res.cloudinary.com/dhbxrjpgc/image/upload/v1759064892/kw-background_vlhjmd.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.main{
    display: flex;
    flex-direction: column;
}
.main{
    font-family:serif;
    margin-top: 20px;
    font-size: 70px;
    color: aliceblue;
    width: 200px;
    margin-left: 70px;
}
.new{
    color: aliceblue;
    font-size: 10px;
    margin-left: 70px;
    margin-top: 25px;
}
.box{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    padding-top: 5%;
}
.row1{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.row2{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.title{
    margin-bottom: 10px;
    font-size: 25px;
}
.items{
    display: flex;
        flex-wrap: wrap;

    justify-content: space-between;
    margin-right: 70px;

}
.item{
    /* display: flex; */
    justify-content: center;
    width: 170px;
    height: auto;
    
}
.amt{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}
.cart{
    width: 30%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid; */
    margin-right: 3px;
    margin-bottom: 10px;
    height: 20px;
    background-color: #10a7e2c7;
    border-radius: 5px;
    padding: 3px;
}
.add{
    color: aliceblue;
}
.sub-text{
    margin-top: 15px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.432);
}
.item2{
    /* display: flex; */
    justify-content: center;
    width: 250px;
    height: auto;
}
.title2{
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 25px;
}
.row3{
    margin-bottom: 50px;
}