.container{
    background-color: aquamarine;
    height: 500px;
}
img{
    display: flex;
    border: 2px solid black;
    height: 400px;
    width: 400px;
    margin-left: 600px;
}
button{
    margin-left: 750px ;
    height: 50px;
    width: 100px
}