
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin-top: 50px;
    }
    input {
      padding: 8px;
      font-size: 16px;
    }
    button {
      padding: 8px 12px;
      margin-left: 5px;
      font-size: 16px;
      cursor: pointer;
    }
    ul {
      list-style-type: none;
      padding: 0;
      margin-top: 20px;
      width: 200px;
      margin-left: auto;
      margin-right: auto;
    }
    li {
      background-color: #f9f9a9;
      margin: 5px 0;
      padding: 8px;
      border: 1px solid #ccc;
      text-align: left;
    }
 